{% extends "base.html" %}

{% block title %}Lista de Contratos{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Lista de Contratos</h5>
            <table class="table">
              <thead class="thead-dark">
              <tr>
                <th>Nome</th>
                <th>ID</th>
                <th>Data de Admissão</th>
                <th>Empresa</th>
                <th>Funçao</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              {% for contrato in object_list %}
                <tr>
                  <td>{{ contrato.funcionario }}</td>
                  <td>{{ contrato.id }}</td>
                  <td>{{ contrato.data_admissao }}</td>
                  <td>{{ contrato.empresa }}</td>
                  <td>{{ contrato.funcao }}</td>
                  <td>
                    <a href="{% url 'edit_contrato' pk=contrato.id %}"
                       <i class="fa fa-edit"  style="font-size:20px;color:green;margin-right:20px"></i>
                    </a>
                    <a href="{% url 'deleta_contrato' pk=contrato.id %}"
                       <i class="fa fa-trash" style="font-size:20px;color:red"></i>
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
         <hr />
          <div class="text-right">
            <a href="{% url 'create_contrato' %}" class="btn btn-primary">
              Cadastrar Contrato
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}