{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block title %}Cadastro de Documentos{% endblock %}

{{ form.errors }}


{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            <h5 class="card-title">Cadastro de Documentos</h5>
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <!-- Nome -->
            <div class="input-group mb-3">
              <div class="input-group-prepend col-md-12">
                <span class="input-group-text">Descrição do Documento</span>

              <input type="text" name="descricao" class="form-control"  value="{{ documento.descricao }}">
              </div>
            </div>

            <!-- data de entrega -->
            <div class="input-group mb-3">
              <div class="input-group-prepend col-md-6">
                <span class="input-group-text">Data de Entrega</span>
                <input type="text" name="data_entrega" class="form-control"  value="{{ documento.data_entrega|date:'d/m/Y'}}" onkeypress="$(this).mask('99/99/9999');">

              </div>
            </div>
            <!-- data de vencimento -->
            <div class="input-group mb-3">
              <div class="input-group-prepend col-md-6">
                <span class="input-group-text">Data de Vencimento</span>
                <input type="text" name="data_vencimento" class="form-control"  value="{{ documento.data_vencimento|date:'d/m/Y'}}" onkeypress="$(this).mask('99/99/9999');">

              </div>
            </div>
            <!-- arquivo -->
            <div class="input-group mb-3">
              <div class="input-group-prepend col-md-10">
                <span class="input-group-text">Arquivo</span>

                  <input name="arquivo" class="form-control" id="id_arquivo" required="" type="file">
              </div>
            </div>


             <br>
             <br>
             <button class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

