{% extends 'base.html' %}
{% load bootstrap %}
{% load widget_tweaks %}

{% block title %}Cadastro de Documentos{% endblock %}

{{ form.errors }}


{% block main %}
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            <h5 class="card-title">Cadastro de Documentos</h5>
            <!-- Não se esqueça dessa tag -->
            {% csrf_token %}

            <!-- Nome -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text">Descricao do Documento</span>
              </div>
              {% render_field form.descricao class+="form-control" %}
            </div>

            <!-- arquivo -->
             <div class="input-group-prepend">
                <span class="input-group-text">Arquivo</span>
             </div>

             {% render_field form.arquivo  %}
             <br>
             <br>
             <button class="btn btn-primary">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

