{% load static %}

<!doctype html>
<html lang="en">
<head>
  {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <!-- jQuery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script> -->
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.mask.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'js/jquery.mask.min.js' %}"></script>

    <script language="JavaScript" type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    <script language="JavaScript" type="text/javascript" src="{% static 'bootstrap/js/MascaraValidacao.js' %}"></script>

    <script language="JavaScript" type="text/javascript" src="{% static 'js/main.js' %}"></script>

    <!-- bootstrap -->
    <!-- <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}"> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">

    <!-- font awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

   <!--  <link rel="stylesheet" href="{% static 'stick-footer.css' %}"> -->
    <link rel="stylesheet" href="{% static 'css/mdb.lite.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- MDBootstrap Datatables CSS -->
    <link rel="stylesheet" href="{% static 'css/addons/datatables.css' %}">

    <!-- MDBootstrap Datatables  JS-->
    <script type="text/javascript" src="{% static 'js/addons/datatables.js' %}"></script>

    <title>{% block title %}{% endblock %}</title>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="background-color: #e3f2fd;">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(Página atual)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Cadastros
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'lista_empresas' %}">Empresas</a>
                      <a class="dropdown-item" href="{% url 'lista_funcionarios' %}">Funcionarios</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Tabelas
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'lista_departamentos' %}">Departamentos</a>
                      <a class="dropdown-item" href="{% url 'lista_funcoes' %}">Funções</a>
                      <a class="dropdown-item" href="{% url 'lista_eventos' %}">Eventos</a>
                      <a class="dropdown-item" href="{% url 'lista_beneficios' %}">Beneficos</a>
                      <a class="dropdown-item" href="{% url 'lista_horarios' %}">Horários</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Movimentação
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'lista_contratos' %}">Contratos</a>
                      <a class="dropdown-item" href="{% url 'lista_movimentacoes' %}">Movimentações</a>
                    </div>
                </li>
                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Relatórios
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'contratos_em_exp' %}">Contratos Em Experiência</a>
                      <a class="dropdown-item" href="{% url 'eventos_a_vencer' %}">Eventos a Vencer</a>
                    </div>

                </li>
            </ul>
            <span class="navbar-text">
                Ola {{ user.first_name }} {{ user.last_name }}
                <a href="{% url 'logout' %}">Logout</a>
            </span>
        </div>
    </nav>
   {% endblock %}
</head>
<body>
  {% block main %}
    <div class="jumbotron">
    </div>
 {% endblock %}
</body>


<footer class="footer">
  {% block footer %}
     <div class="container">
         <span class="text-muted">Sistemas Web - Ponto Sys</span>
     </div>
  {% endblock %}
</footer>

</html>